p#return{clear:left;margin-left:50px;margin-top:30px}
p#prompt,p.prompt{margin-left:50px}

a:active, a:focus{outline:none}


input{font-size:12px}
label{float:left;width:170px}
select{float:left;width:200px;font-family:Arial, Helvetica, sans-serif;font-size:12px;margin-bottom:10px}
fieldset{border:none;padding:0;margin:0 0 15px;width:400px}

#scroll-pane,.scroll-pane {overflow: auto; 
height: 502px;position:relative; margin-top:10px;margin-bottom: 10px;width: 660px;
}

.scroll-content-item {background-color:#ececec;color:#003366;width: 314px;
height: 155px;float:left;

margin-left:0px;
margin-right:20px;
margin-top:10px;
font-size:3em;line-height:96px;text-align:center;border:1px solid gray;display:inline;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.scroll-content-item2 {background-color:#e4e4e4;color:#003366;width: 140px;
height:30px;float:left;
margin-left:0px;
margin-right:20px;
margin-top:10px;
font-size:3em;line-height:96px;text-align:center;border:1px solid gray;display:inline;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

.scroll-content-item3 { background-image:url(../../img/button_book.png); background-repeat:repeat-x;color:#003366;width: 140px;
height:30px;float:left;margin-left:0px;
margin-right:0px;
margin-top:10px;font-size:3em;line-height:96px;text-align:center;border:1px solid gray;display:inline; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}

/*CYCLER - COMMON*/
.container{height:337px;width:506px;float:left;margin-left:50px;display:inline;margin-bottom:40px}
#arrows { margin-left: 275px; margin-top:10px;height: 55px;
margin-bottom: 20px;}


